<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app.component.css">
    <title>Document</title>
</head>
<body>
<button class="btn btn-primary" (click)="justCheck()">Submit</button>
<label for="">The value of i is: {{i}}</label>
<label for="">The title is {{title}} </label>
<img src= "{{imgUrl}}" alt="Taj Mahal Pic">
<img [src]="imgUrl1" alt="Taj Mahal 2">
<img [src]="imgUrl2" alt="Taj Mahal 2">
<br>
<div (click)="divClick()"><button class="btn btn-success" (click) = "checkwithEvenObject($event)">Click</button></div>
<label for="">{{msg}}</label>
<br>
<label for="">Name:</label>
<input type="text" placeholder="Enter Name" [(ngModel)] = "FullName">
<br>
<label for="">Branch:</label>
<input type="text" placeholder="Enter Branch" [(ngModel)]="Branch">
<br>
<button (click) = "twoWay(FullName, Branch)">OK</button>
Full Name:<span>{{fn}} </span>
Branch:<span>{{br}} </span>
<br>
<table class="table table-striped" *ngIf="b.length">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col">Publisher</th>
        <th scope="col">Edition</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let book of b">
        <td>{{book.title}}</td>
        <td>{{book.price}} </td>
        <td>{{book.pub}} </td>
        <td>{{book.ed}} </td>
      </tr>
      <tr>
        <th scope="col">Total Quantity</th>
        <th scope="col">{{b.length}} </th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>      
    </tbody>
</table>
</body>
</html>